{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<div class="row custom-form">
  <div class="col-md-6">
  {{ 'We love bass. Bass is a groove!' }}
  </div>
  <div class="col-md-6">
   {{ form.title }}
   {{ form.bass_checkboxes }}
   {{ form.color }}
   {{ form.date }}
   {{ form.name }}
   {{ form.actions.submit }}
  </div>
</div>